 #rev_slider_1_2_wrapper .hesperiden.tparrows.tp-rightarrow:before {
    content: '\2192' !important;
    margin-right: -3px;
}
#rev_slider_1_2_wrapper .hesperiden.tparrows:before {
    font-family: 'revicons';
    font-size: 20px;
    color: #ffffff;
    display: block;
    line-height: 40px;
    text-align: center;
}
 

	.vc_custom_1438577278176{padding-bottom: 90px !important;}.vc_custom_1438577300524{padding-bottom: 90px !important;}

 	


#rev_slider_1_2_wrapper .hesperiden.tparrows.tp-leftarrow:before {
   content: '\2190' !important;
    margin-left: -3px;
}
  
.joinchat{ --red:37; --green:211; --blue:102; }
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
 
			#jpreOverlay {background-color: #000000;}
			#jprePercentage {color: #111111;}
			#jpreBar{background-color: #FAB207;}
			.royal_preloader, html {background-color: #000000;}
		
		/* Subheader Colors */
		#subheader{
							background-image:url(https://decolux-kw.com/wp-content/uploads/2015/08/subheader-2.jpg); 
						background-color:#222222;
		}
		#subheader h1, #subheader h4, #subheader .crumb {
			color: #ECEFF3;
		}	

		
			

		#mainmenu li a:after, #mainmenu li a.mPS2id-highlight, .mainmenu li a.mPS2id-highlight, .de-navbar-left header .mainmenu > li > a:hover,
		header.smaller #mainmenu li a.mPS2id-highlight {
			color: #FAB207;
		}
		nav ul#mainmenu > li.current-menu-ancestor > a, .mainmenu li.current-menu-item > a, nav ul.mainmenu > li.current-menu-ancestor > a, 
		#mainmenu > li > a:hover, #mainmenu > li.current-menu-item > a, header.smaller #mainmenu > li > a:hover, header.smaller #mainmenu > li.current-menu-item > a {
			color: #ffffff;
			opacity:1;
		}
		#mainmenu li.current-menu-ancestor li.current-menu-ancestor > a, #mainmenu li li.active > a,
		header.smaller #mainmenu li li a:hover, #mainmenu li li a:hover {
			background-color: #090909;
			color: #f8f2f2;
		}

		/*Topbar Border Bottom Color */
		header .info {
			border-bottom-color: rgba(255,255,255,0.2);
			color: #FFFFFF;
		}
		header .info ul.social-list li i {
			color: #FFFFFF;
		}

		/* Content Colors */	
		.bg-color, .de_light .bg-fixed.bg-color,
		section.call-to-action,		
		.blog-list .date, .blog-read .date,
		.slider-info .text1,
		.btn-primary, .bg-id-color,
		.pagination .current,
		.pagination .current,
		.pagination .current:hover,
		.pagination .current:hover,
		.pagination .current:focus,
		.pagination .current span:focus, .dropcap,
		.fullwidthbanner-container a.btn,
		.feature-box-big-icon i,
		#testimonial-full, .icon-deco i,
		.blog-list .date-box .day,
		.bloglist .date-box .day,
		.feature-box-small-icon .border,
		.small-border, .team-box .small-border,	.date-post,
		.team-list .small-border,
		.de-team-list .small-border,
		.btn-line:hover,a.btn-line:hover,
		.btn-line.hover,a.btn-line.hover,
		.owl-arrow span, .de-progress .progress-bar,
		#btn-close-x:hover, .box-fx .info, .de_testi blockquote:before,
		.menu-sidebar-menu-container ul li.current_page_item a,
		.widget_nav_menu ul#services-list li:hover,
		.btn-more, .widget .small-border,
		.product img:hover, #btn-search, .form-submit #submit,
		#wp-calendar tbody td#today,
		.de_tab.tab_steps .de_nav li span,
		#services-list li a:hover,
		.de_light #services-list li.active,
		#services-list li.active, .button.btn.btn-line:hover,.woocommerce #respond input#submit, .woocommerce a.button, 
		.woocommerce button.button, .woocommerce input.button, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
		.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
		.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, 
		.woocommerce button.button.alt, .woocommerce input.button.alt, .added_to_cart:hover, #back-to-top, .header-light #menu-btn:hover,
		.owl-theme .owl-controls .owl-buttons div, .mb_YTVTime, .socials-sharing a.socials-item:hover, a.btn-custom,
		header.side-header .social-icons-2 ul li a:hover, .pricing-dark.pricing-box .price-row,
		.mainmenu li li a:hover, #services-list .widget_nav_menu ul.menu > li.current-menu-item > a, #services-list > li.current-menu-item > a, 
		#services-list li li.current-menu-item > a, 
		.pricing-s1 .ribbon, #sidebar .widget .small-border, .portfolio-navigation a:hover, .project_filters li a.selected {
			background-color: #81bc00!important;
		}
		.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #respond input#submit.alt:hover, 
		.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
			background-color: #DAD8DA;
			color: #5D6F93;
		}
		.post-image .owl-theme .owl-controls .owl-page.active span, .pricing-dark.pricing-box .price-row, 
		.de_light .pricing-dark.pricing-box .price-row {
		   background-color:#FAB207 !important;
		}

					#filters a:hover, .filters a:hover{background-color:#111;}
			#filters li.showchild > a, #filters a.selected, #filters a.selected:hover,
			.filters a.selected, .filters a.selected:hover {
				background-color:#FAB207;
				color: #111;
			}
		
		.feature-box i,
		.slider_text h1, .id-color,
		.pricing-box li h1,
		.title span, i.large:hover,
		.feature-box-small-icon-2 i, address div i,
		.pricing-dark .pricing-box li.price-row, .price,
		.dark .feature-box-small-icon i,
		a.btn-slider:after,
		.feature-box-small-icon i, a.btn-line:after,
		.team-list .social a,
		.de_contact_info i, .de_count,
		.dark .btn-line:hover:after, .dark a.btn-line:hover:after, .dark a.btn-line.hover:after,
		a.btn-text:after,
		.separator span  i,
		address div strong,
		address span strong,
		.de_testi_by, .pf_text,
		.dark .btn-line:after, .dark  a.btn-line:after, .crumb a,
		.post-info a, .comments_number, .date .c_reply a,
		.search-form:before, h3 b, .woocommerce .star-rating span,
		.woocommerce .star-rating:before, .woocommerce div.product p.price, .woocommerce div.product span.price,
		.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .de_light.woocommerce p.stars a,
		.de_light.woocommerce p.stars a, .pricing-box h1, .de_light .pricing-box h1, h1.title strong, header .info ul.social-list li a:hover i,
		header .info ul.info-list li span, header .info ul.info-list li strong, header .info ul.info-list li i, .added_to_cart:after,
		.portfolio-icon:hover, .portfolio-icon a:hover i, .de-navbar-left #subheader .crumb a, .mb_YTVPBar, .post-controls a:hover strong, 
		.folio-style2 .folio-info h3 a:hover, .text-slider .text-item b, .style-3 b, .share-holder .social-links.rounded-share-icons a:hover i,
		.woocommerce span.onsale, .woocommerce-info .showcoupon, .pricing-s1 .bottom i, .expand h4:after, ul.sidebar-style-2 li:hover a, 
		ul.sidebar-style-2 li.active a, .pr_text, .portfolio-navigation a i, blockquote.s1  span.rating i, .process-sync2 .synced .item p, 
		.process-sync2 .item:hover p, .topbar-login li i
		{
			color: #f4eeee;
		}

		ul.sidebar-style-2 li.active, ul.sidebar-style-2 li:hover {border-left-color:#FAB207;}
		.pricing-dark.pricing-box h1, .de_light .pricing-dark.pricing-box h1 {color: #fff;}

		.feature-box i,
		.pagination .current,
		.pagination .current,
		.pagination .current:hover,
		.pagination .current:hover,
		.pagination .current:focus,
		.pagination .current:focus
		.feature-box-big-icon i:after,
		.social-icons i,
		.btn-line:hover,a.btn-line:hover,
		.btn-line.hover,a.btn-line:hover,
		.product img:hover,
		.wpcf7 input[type=text]:focus,.wpcf7 input[type=email]:focus,.wpcf7 input[type=tel]:focus,.wpcf7 textarea:focus, #search:focus,
		.de_light .wpcf7  input[type=text]:focus,.de_light .wpcf7  input[type=tel]:focus,.de_light .wpcf7 textarea:focus,
		.de_light .wpcf7 #search:focus, .comment-form input[type='text']:focus,.comment-form input[type='email']:focus,.comment-form textarea:focus, 
		.socials-sharing a.socials-item:hover, .woocommerce span.onsale, .portfolio-navigation a:hover,
		.wpcf7 input[type=number]:focus, .wpcf7 select.wpcf7-select:focus
		{
			border-color:#FAB207;
			outline: 0px;
		}

		.comment-form textarea:focus{
			border:1px solid #FAB207!important;
		}

		.box-fx .inner,
		.dark .box-fx .inner,
		.post-image,
		.arrow-up
		{
			border-bottom-color: #81bc00 !important;
		}

		.arrow-down{
			border-top-color:#FAB207;
		}

		.callbacks_nav {
			background-color:#FAB207;
		}

		.de_tab .de_nav li span {
			border: 2px solid #FAB207;
		}

		.feature-box-big-icon i:after {
			border-color: #FAB207 transparent; /*same colour as the lower of the bubble's gradient*/
		}

		.de_review li.active img{
			border:solid 4px #FAB207;
		}
		.post-text blockquote {
		    border-left: 5px solid #FAB207;
		}

		#subheader.portfolio-top-image {
			background-image: url();
		}
		
		/**** Custom CSS Footer ****/		
		footer .widget_recent_entries li, footer .widget_archive li,
		footer .widget_categories li, footer .widget_nav_menu li, 
		footer .widget_pages li, footer .widget_meta li, address span {
		    border-bottom-color: #222222;    
		}

		
		@media only screen and (max-width: 992px) {
			/* Styling Mobile Side Navigation */
		    body.de-navbar-left .side-header, body.de-navbar-left  header.side-header .mainmenu{ 
		    			    }
		    body.de-navbar-left  header.side-header .mainmenu a{
		    			    }
		    body.de-navbar-left  header.side-header .mainmenu > li {
		    			    }
		    .mainmenu li ul{
		    			    }
		    .mainmenu li ul li a{
		    							    }
		    #menu-btn:hover{
		    	background: #FAB207;
		    }

		    /* Styling Mobile Header */
		    header.header-bg, header, header.transparent {
		    			    }
		    header #mainmenu li ul li:first-child, header #mainmenu li ul ul{
		    			    }
		    #mainmenu li, header #mainmenu li ul ul li:last-child{
		    			    }
		    #mainmenu li ul li a{
		    							    }
		    #mainmenu li a, #mainmenu li li a{
		    			    }
		    		    
			header #mainmenu li span{				
				background:url(https://decolux-kw.com/wp-content/uploads/2020/04/a-down.png) center no-repeat;				
			}			
			header #mainmenu li span.active{
				background:url(https://decolux-kw.com/wp-content/uploads/2020/04/a-up.png) center no-repeat;
			}
		}
    	     
	



 			header div#logo a img{
	min-height: 26px;
}
.awsm-job-single-content{
	margin-top:130px
}
#mainmenu a {
    padding: 25px 0 22px 10px;
}
#mainmenu li a:after{
	margin-left:10px;
}
@media only screen and (min-width: 668px) {
  .wpb_layerslider_element{
	display:none;
}
}
@media only screen and (max-width: 667px) {
	#rev_slider_1_1_forcefullwidth{
		display:none;
	}
  .wpb_layerslider_element{
	display:block;
}
	.wpb_layerslider_element p{
		font-size:16px !important;
		text-align:left !important;
		margin-bottom:10px !important;
	}
	.wpb_layerslider_element h1{
		font-size:22px !important;
		text-align:left !important;
		margin-bottom:10px !important;
	}
	    .wpb_layerslider_element span{
		padding: 10px 65px 7px 10px !important;
        font-size: 12px !important;
        width: 100% !important;
        height: 100% !important;
 	}
}
.theme-background-color{
	background-color:#FAB207 !important;
}
#thjmf_apply_now{
	display:none;
}
.thjmf-job-listing-filter-wrapper{
	display:none;
}		
 	

#royal_preloader.royal_preloader_logo .royal_preloader_percentage, #jprePercentage{font-display:swap;}h1{font-display:swap;}h2{font-display:swap;}h3{font-display:swap;}h4{font-display:swap;}h5{font-display:swap;}h6{font-display:swap;}#mainmenu > li > a, .mainmenu > li > a{font-display:swap;}#mainmenu li li a, .mainmenu li li a{font-display:swap;}#filters a, .filters a{color:#888;}#filters a:hover, .filters a:hover{color:#888;}footer{color:#CCCCCC;}footer .widget h3{color:#FFFFFF;}.subfooter{color:#CCCCCC;}.subfooter{background-color:#0B0B0B;}.subfooter{border-top-color:#0B0B0B;}footer a, address span a, footer .widget_recent_entries li a, footer .widget_archive li a,footer .widget_categories li a, footer .widget_nav_menu li a, footer .widget_pages li a, footer .widget_meta li a{color:#ccc;}footer a:hover, address span a:hover, footer .widget_recent_entries li a:hover, footer .widget_archive li a:hover,footer .widget_categories li a:hover, footer .widget_nav_menu li a:hover, footer .widget_pages li a:hover, footer .widget_meta li a:hover{color:#ccc;}footer a:active, address span a:active, footer .widget_recent_entries li a:active, footer .widget_archive li a:active,footer .widget_categories li a:active, footer .widget_nav_menu li a:active, footer .widget_pages li a:active, footer .widget_meta li a:active{color:#ccc;}.social-icons ul li a{color:#fff;}.social-icons ul li a:hover{color:#333;}.social-icons ul li a:active{color:#333;}footer .main-footer, .de-navbar-left footer.footer-side-nav .mainfooter{padding-top:80px;padding-bottom:0px;}.subfooter, .de-navbar-left footer.footer-side-nav .subfooter{padding-top:30px;padding-bottom:20px;}#back-to-top{right:40px;bottom:40px;}body{font-display:swap;}


 	
.margg{margin: 0 15% 0 15%;}
 	
 
#hide{
    display:none;
}
.offer {
    display:block;
  }
  .team .logo {
    display:none;
  }
@media only screen and (max-width: 667px) {
  .offer {
   /* display:none;*/
    margin: 0 1% 0 1%;
  }
   .margg {
    margin: 0 1% 0 1%;
}
  .team .logo {
    display:block;
  }
  .hero_one{
     /* display:none;*/
  }
}
.container-4 .de-team-list{
    margin-bottom:50px;
}

 	
	


.vc_custom_1495530476030{padding-top: 90px !important;padding-bottom: 60px !important;}.vc_custom_1589297574087{margin-top: -70px !important;}.vc_custom_1589297749150{padding-top: 0px !important;padding-bottom: 90px !important;background-color: #ffffff !important;}.vc_custom_1587803640174{padding-top: 90px !important;padding-bottom: 90px !important; background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1442204079522{padding-top: 60px !important;padding-bottom: 60px !important;}.vc_custom_1589297466292{margin-top: 50px !important;}.vc_custom_1589297474905{margin-top: 50px !important;}.vc_custom_1589297494576{margin-top: 50px !important;}.vc_custom_1589297485179{margin-top: 50px !important;} 
	
	 
#royal_preloader.royal_preloader_logo .royal_preloader_percentage, #jprePercentage{font-display:swap;}h1{font-display:swap;}h2{font-display:swap;}h3{font-display:swap;}h4{font-display:swap;}h5{font-display:swap;}h6{font-display:swap;}#mainmenu > li > a, .mainmenu > li > a{font-display:swap;}#mainmenu li li a, .mainmenu li li a{font-display:swap;}#filters a, .filters a{color:#888;}#filters a:hover, .filters a:hover{color:#888;}footer{color:#CCCCCC;}footer .widget h3{color: #81bc00;}.subfooter{color:#CCCCCC;}.subfooter{background-color:#0B0B0B;}.subfooter{border-top-color:#0B0B0B;}footer a, address span a, footer .widget_recent_entries li a, footer .widget_archive li a,footer .widget_categories li a, footer .widget_nav_menu li a, footer .widget_pages li a, footer .widget_meta li a{color:#ccc;}footer a:hover, address span a:hover, footer .widget_recent_entries li a:hover, footer .widget_archive li a:hover,footer .widget_categories li a:hover, footer .widget_nav_menu li a:hover, footer .widget_pages li a:hover, footer .widget_meta li a:hover{color:#ccc;}footer a:active, address span a:active, footer .widget_recent_entries li a:active, footer .widget_archive li a:active,footer .widget_categories li a:active, footer .widget_nav_menu li a:active, footer .widget_pages li a:active, footer .widget_meta li a:active{color:#ccc;}.social-icons ul li a{color:#fff;}.social-icons ul li a:hover{color:#333;}.social-icons ul li a:active{color:#333;}footer .main-footer, .de-navbar-left footer.footer-side-nav .mainfooter{padding-top:80px;padding-bottom:0px;}.subfooter, .de-navbar-left footer.footer-side-nav .subfooter{padding-top:30px;padding-bottom:20px;}#back-to-top{right:40px;bottom:40px;}body{font-display:swap;}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1474447018555{background-position: 0 0 !important;background-repeat: no-repeat !important;}.vc_custom_1438749369192{padding-top: 90px !important;padding-bottom: 90px !important;background-color: #f5f5f5 !important;}.vc_custom_1588354161012{padding-top: 90px !important;padding-bottom: 90px !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1442204580531{padding-top: 60px !important;padding-bottom: 60px !important;}

 .offer {
    display:block;
  }
  .team .logo {
    display:none;
  }
@media only screen and (max-width: 667px) {
  .offer {
     /* display:none;*/
    margin: 0 1% 0 1%;
  }
  
  .margg {
    margin: 0 1% 0 1%;
}
  .team .logo {
    display:block;
  }
}
.container-4 .de-team-list{
    margin-bottom:50px;
}
.vc_custom_1453975735934{padding-top: 90px !important;padding-bottom: 30px !important;}.vc_custom_1453975666551{padding-top: 60px !important;padding-bottom: 60px !important;}

 .vc_custom_1586832969625{padding-top: 70px !important;padding-bottom: 60px !important;}.vc_custom_1442204572844{padding-top: 60px !important;padding-bottom: 60px !important;}


.vc_custom_1588137212948{padding-top: 70px !important;}.vc_custom_1589300985511{margin-top: -70px !important;}.vc_custom_1589301008486{padding-top: 0px !important;padding-bottom: 90px !important;background-color: #ffffff !important;}.vc_custom_1453975666551{padding-top: 60px !important;padding-bottom: 60px !important;}.vc_custom_1589297466292{margin-top: 50px !important;}.vc_custom_1589297474905{margin-top: 50px !important;}.vc_custom_1589297494576{margin-top: 50px !important;}.vc_custom_1589297485179{margin-top: 50px !important;}



 
    
     
 
.modal {
    display: none;
    position: fixed;
    z-index: 1043;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(255 251 251 / 94%);
}

/* Modal Content */
.modal-content {
    /* background-color: #fefefe; */
    /* margin: auto; */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 
   .has-topbar #subheader {
    padding-top: 130px;
} 
  